.login-title{
	position: absolute;
	left: 43%;
	top: 10%;
}
.center{
	position: absolute;
	left: 40%;
	top: 20%;
	height: 150px;
	width: 280px;
	padding: 20px;
	border-radius: 25px;
	background-color: #9C98B4;
}

.login_btn {
	position: relative;
	left: 100px;
}