body {
	background-color: white;
}

.sair {
	position: absolute;
	right: 20px;
	top: 20px;
}

.base-card{
	position: absolute;
	left: 35%;
	top: 10%;
	padding: 30px;
	height: 500px;
	width: 400px;
	border-radius: 25px;
	background-color: #f5f5dc;	
	
}

.title {
	position: relative;
	left: 10px;
	font-weight: bold;
	padding-bottom: 20px;
}


.upload-card {
	position: relative;
	left: 20px;
	padding-top: 50px;
	padding-left: 50px;
	height: 350px;
	width: 300px;
	border-radius: 15px;
	background-color: #B0C4DE;
}

.form {
	padding-left: 10px;
	padding-top: 20px;
}

.download-card {
	position: relative;
	top: -350px;
	left: 420px;
	padding-top: 50px;
	padding-left: 100px;
	height: 350px;
	width: 300px;
	border-radius: 15px;
	background-color: #5F9EA0;
}

.smarketing-logo {
	position: absolute;
	left: 70%;
	top: 30%;
}

label{
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}